---
import Layout from "../../layouts/Layout.astro"
import { getLastestLaunches, getLaunchBy } from "../../services/spacex"

const {id} = Astro.params

console.log({id})

let launch
if (id) {
    launch = await getLaunchBy({id})
}

export async function getStaticPaths() {
    //LLAMAR A UNA API EXTERNA
    // PARA SABER TODAS LAS IDS QUE DEBES GENERAR

    const launches = await getLastestLaunches()

    return launches.map((launch) => ({
        params: {id:launch.id}
    }))

    return [{ params: {id: "5eb87cd9ffd86e000604b32a"} }]
}

// console.log(launch)
---


<Layout title="`Lanzamiento ${id}`">
    <article class="flex gap-y-4 flex-col">
        <img class="w-52 h-auto" src={launch?.links?.patch.small} alt={launch?.name}>
        <h2 class="text-4xl text-white font-bold">
            Launch #{launch?.flight_number}
        </h2>
        <p class="text-l">{launch?.details}</p>
    </article>    
</Layout>
